@page "/addRequest"
@inject IRequestService _requestService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager


<h3>Dodaj nową prośbę</h3>


<EditForm Model="@request" OnValidSubmit="@InsertRequest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <td>Data: </td>
    <InputDate id="dayindisposition" @bind-Value="DayIndisposition" required />
    <br />
    <td>Zmiana: </td>
    <label>
        <InputSelect @bind-Value="request.Change" required>
            <option value="Dzień">Dzień</option>
            <option value="Noc">Noc</option>
            <option value="Doba">Doba</option>
        </InputSelect>

    </label>
    <br />
    <td>Typ prośby: </td>
    <label>
        <InputSelect @bind-Value="request.TypeRequest" required>
            <option value="Praca">Praca</option>
            <option value="Wolne">Wolne</option>
        </InputSelect>
    </label>
    <br />
    <br />
    <br />
    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="OnButtonClicked">Zapisz</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Transparent" OnClick="OnButtonClickedBack">Anuluj</MudButton>

</EditForm>


@code {
    RequestModel request = new();
    public DateTime DayIndisposition = DateTime.Now;


    private async void OnButtonClickedBack()
    {
        string state = "";
        bool? result = await DialogService.ShowMessageBox(
            "Anulowanie zmian",
            "Czy na pewno chcesz anulować wprowadzone zmiany?",
            yesText: "TAK-ANULUJ!", cancelText: "COFNIJ");
        state = result == null ? "0" : "1";
        StateHasChanged();
        if (result == true)
        {
            NavigationManager.NavigateTo("/allRequest");
        }
    }

    private async void OnButtonClicked()
    {
        string state = "";
        bool? result = await DialogService.ShowMessageBox(
            "Dodawanie nowego obiektu",
            "Czy na pewno chcesz dodać nowego użytkownika?",
            yesText: "TAK-DODAJ!", cancelText: "ANULUJ");
        state = result == null ? "0" : "1";
        StateHasChanged();
        if (result == true)
        {
            await InsertRequest();
            NavigationManager.NavigateTo("/allRequest");
        }
    }
    private async Task InsertRequest()
    {
        request.DayIndisposition = DayIndisposition;
        
        await _requestService.AddRequest(request);

    }



}
