@page "/addRequest"
@inject IRequestService _requestService



<h3>Dodaj nową prośbę</h3>


<EditForm Model="@request" OnValidSubmit="@InsertRequest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <td>Data: </td>
    <InputDate id="dayindisposition" @bind-Value="DayIndisposition" required />
    <br />
    <td>Zmiana: </td>
    <label>
        <InputSelect @bind-Value="Change">
            <option value="">Wybierz...</option>
            <option value="D">Dzień</option>
            <option value="N">Noc</option>
            <option value="A">Cały dzień</option>
        </InputSelect>
    </label>
    <br />
    <td>Typ prośby: </td>
    <label>
        <InputSelect @bind-Value="TypeRequest">
            <option value="">Wybierz...</option>
            <option value="W">Praca</option>
            <option value="H">Wolne</option>
        </InputSelect>
    </label>
    <br />
    <br />
    <br />
    <button type="submit">Submit</button>
</EditForm>


@code {
    RequestModel request = new();
    public DateTime DayIndisposition = DateTime.Now;
    public string Change { get; set; }
    public string TypeRequest { get; set; }

    private async Task InsertRequest()
    {
        await _requestService.AddRequest(request);

    }

}
