@page "/allRequest"
@inject IRequestService _requestService

<AuthorizeView>
    <Authorized>
<div>
    <h3>Prośby grafikowe - @data.ToShortDateString() </h3>
</div>
@if (Elements == null)
{
    <p><em>Loading...</em></p>
}
else{
<MudDataGrid T="RequestModel" Items="@Elements" Filterable="true" FilterMode="@DataGridFilterMode.Simple">
    <Columns>            
            <Column T="RequestModel" Field="DayIndisposition" Title="Data" />
        <Column T="RequestModel" Field="TypeRequest" Title="Typ prośby"/>
        <Column T="RequestModel" Field="Change" Title="Zmiana"/>
        <Column T="RequestModel" Field="EmployeeName" Title="Pracownik"/>
    </Columns>
</MudDataGrid>
}
    </Authorized>
    <NotAuthorized>
        <p>Dostęp tylko dla zalogowanych</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    IEnumerable<RequestModel> Elements = new List<RequestModel>();
    bool _filterOpen = false;
    DateTime data = DateTime.Now;
    

    protected override async Task OnInitializedAsync()
    {
        Elements = await _requestService.GetRequests();

    }

    void OpenFilter()
    {
        _filterOpen = true;
    }
}
