@page "/allRequestById"
@page "/allRequestById/{id:int}"
<h3>AllRequestById</h3>



@if(requests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
}

    @code {
        List<RequestModel> requests = new();
}
